<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Super Heroes</title>
  </head>

  <body>
    <h1>Create a Team and Heroes!</h1>
    <form method="POST" action="/super_heroes">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your Favorite Food: <input type="text" name="favorite_food"></p>
  <input type="submit">
</form>
  </body>
</html>
